[access]
	inheritFrom = msb
[project]
	description = Provides service registration and discovery for ONAP microservices, which leverage Consul and build an abstract layer on top of it to make it agnostic to the registration provider and add needed extension.
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
