[access]
	inheritFrom = All-Projects
[project]
	description = Provides service registration and discovery for ONAP microservices, which leverage Consul and build an abstract layer on top of it to make it agnostic to the registration provider and add needed extension.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-msb-discovery-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
